<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>登录</h1>
    <form role="form" action="/loginIn" method="post">
        <div class="item">
            <input type="text" id="username" name="username" placeholder="请输入用户名">
            <label for="username"></label>
        </div>
        <div class="item">
            <input type="password" id="password" name="password" placeholder="请输入密码">
            <label for="password"></label>
        </div>
        <button type="submit" id="login" value="登录">登录</button>
    </form>
</div>
</body>
</html>